@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
    font-family: 'Lobster', cursive;
    font-size: 18px;
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container {
    text-align: center;
    margin-top: 10rem;
}
.heading, .counter-machine {
    color: #fff;
}